.common-button {
  all: unset;
  background-color: #742cff;
  border-radius: 3px;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
  font-size: 1rem;
  text-align: center;
}

.common-button:hover {
  background-color: #6216fc;
}
